
<div class="main">
  <form [formGroup]="cadasterForm" (ngSubmit)="onSubmit()">
    <h1>Cadastrar Usuário</h1>
    <div class="main__inputs">
      <label for="name">Nome Completo</label>
      <input    formControlName="name"  type="text" name="name" placeholder="nome" id="" class="form-control">
    </div>

    <div class="main__inputs">
        <label for="tel">Telefone</label>
        <input type="tel" name="phone" formControlName="tel" placeholder="00 00000 0000" id="" class="form-control">
    </div>
    <div class="main__inputs">
      <label for="email">Email</label>
      <input type="email" name="email" formControlName="email" placeholder="exemplo@exemplo.com" id="" class="form-control">
    </div>
    
    <button type="submit">Enviar</button>
  </form>

</div>


<router-outlet></router-outlet>
